

.mynotes {
  float: left;
  width: 100px;
  border: 1px solid #000; }

.search {
  float: left;
  width: 400px;
  margin-left: 100px;
  border: 1px solid #000;
  vertical-align: middle;
  line-height: 50px; }
  .search form input {
    margin-left: 10px;
    display: inline-block; }

.login-and-sign {
  float: right;
  width: 200px;
  border: 1px solid #000;
  list-style: none; }
  .login-and-sign li {
    display: inline-block; }

body {
  font-family: Verdana, Geneva, sans-serif; }
  body .header {
    width: 98%;
    height: 50px;
    border: 1px solid #000;
    overflow: hidden; }
  body .main-wrapper {
    width: 98%;
    height: 570px;
    border: 1px solid #000;
    overflow: hidden; }
    body .main-wrapper .navigation {
      width: 20%;
      height: 100%;
      float: right;
      border: 1px solid #000; }
    body .main-wrapper .content {
      width: 78%;
      height: 100%;
      border: 1px solid #000; }
  body .footer {
    width: 98%;
    height: 20px;
    margin-top: 20px;
    border: 1px solid #000; }

.mynotes {
  float: left;
  width: 100px;
  border: 1px solid #000; }

.search {
  float: left;
  width: 400px;
  margin-left: 100px;
  border: 1px solid #000;
  vertical-align: middle;
  line-height: 50px; }
  .search form input {
    margin-left: 10px;
    display: inline-block; }

.login-and-sign {
  float: right;
  width: 200px;
  border: 1px solid #000;
  list-style: none; }
  .login-and-sign li {
    display: inline-block; }

.user {
  border: 1px solid #000;
  overflow: hidden; }
  .user .user-photo {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #000; }
  .user .user-info {
    float: left;
    margin-left: 3px;
    border: 1px solid #000; }
    .user .user-info ul {
      padding-left: 0;
      list-style: none; }

.privilege {
  border: 1px solid #000;
  margin-top: 5px; }
  .privilege ul {
    padding-left: 0;
    list-style: none; }
    .privilege ul li button {
      width: 100%;
      height: 30px; }

.user {
  border: 1px solid #000;
  overflow: hidden; }
  .user .user-photo {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #000; }
  .user .user-info {
    float: left;
    margin-left: 3px;
    border: 1px solid #000; }
    .user .user-info ul {
      padding-left: 0;
      list-style: none; }

.privilege {
  border: 1px solid #000;
  margin-top: 5px; }
  .privilege ul {
    padding-left: 0;
    list-style: none; }
    .privilege ul li button {
      width: 100%;
      height: 30px; }
