.mynotes
  p MyNotes
.search
  form(name='f', action='/search', method='post')
    input(type='text', name='kw', value='What do you want?')
    input(type='submit', name='submit', value='search')
.login-and-sign
  ul
    li
      button login
    li
      button sign up
