.user
  .user-photo
  .user-info
    ul
      li#user-name name
      li#user-type type
      li#user-mood mood
.privilege
  ul
    li
      button privilege1
    li
      button privilege2
    li
      button privilege3
    li
      button privilege4
    li
      button privilege5
    li
      button privilege6
    li
      button privilege7
    li
      button ..........
    li
      button ..........
    li
      button ..........
    li
      button ..........
    li
      button ..........
    li
      button ..........
    li
      button ..........
